*
!.gitignore
!Doxyfile
!/README.*
!/Assets/
!/Assets/Scenes/
!/Assets/Scenes/**
!/Assets/Scripts/
!/Assets/Scripts/**
!/Assets/LeapMotion/
!/Assets/LeapMotion/Scripts/
!/Assets/LeapMotion/Scripts/Hands/
!/Assets/LeapMotion/Scripts/Hands/SkeletalHand.*
!/Assets/LeapMotion/Scripts/Hands/SkeletalFinger.*
